/* nav bar */
.right {
    float: right;
}

.left {
    float: left;
}

/* main section */

body {
    font-family: 'Roboto Slab', arial;
    background-color: #031a06;
    color: white;
}


div h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, rgb(45, 72, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

div h3 {
    font-size: 25px;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: rgb(249, 247, 245);
    font-size: 20px;
}

button {
    border: none;
    background-color: #b07e0c;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 25px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #e2c061;
}

#quiz {
    text-align: center;
}
/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}